* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0 10% 0 10%;
}

#head {
  border-bottom: 1px solid black;
  margin: 20px;
}
#header {
  display: inline-block;
  width: 49%;
  margin-bottom: 20px;
}
#logo {
  display: inline-block;
  color: #aaaaaa;
  font-size: 50px;
  margin-top: 15px;
  cursor: pointer;
}

#page-information {
  display: inline-block;
  margin: 20px 0 10px 0;
  padding: 0;
  font-size: 25px;
  float: right;
  cursor: pointer;
}
#page-information h3 {
  display: inline-block;

  padding: 0;
  margin: 0;
}
#page-information-first {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 30px;
}
#page-information-second {
  font-size: 30px;
  font-weight: lighter;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
#page-information-three {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  font-weight: lighter;
}
#main {
  position: relative;
}
#content {
  display: inline-block;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 40%;
  height: 50%;
}
#list-item-div {
  position: relative;
  background-color: #f3f2f2;
  border: 1px solid grey;
  border-radius: 5px;
}
#add-button {
  display: inline-block;
  cursor: pointer;
}
#box {
  border: 1px solid grey;
  border-radius: 5px;
  width: 100px;
  height: 100px;
  margin: 10px;
  cursor: pointer;
}
#point-number {
  margin: 15px 0px 0px;
  font-size: 40px;
}
#point-write {
  font-size: 20px;
}
#point-number,
#point-write {
  padding: 10% 30%;
  font-weight: 900;
  text-align: center;

  padding: 0;
}
#plus {
  padding: 10% 30%;
  font-size: 70px;
  font-weight: 900;
}
#list-item-content {
  display: inline-block;
  padding-left: 15%;
}
#list-item-content-middle #submit {
  font-size: 30px;
  font-weight: bolder;
}
#side-bar {
  border: 1px solid grey;
  width: 100%;
  margin: 10px 0px;
}
#list {
  list-style: none;
}
.list {
  list-style: none;
}
.list li {
  margin: 20px 0px;
}
#list-item-content-header {
  font-size: 20px;
  font-weight: bolder;
}
#list-item-content-header,
#list-item-content-middle,
#list-item-content-footer {
  margin: 0px 0px 10px 0px;
}
.delete-button {
  position: absolute;
  right: -20px;
  top: -15px;
  display: none;
  cursor: pointer;
}
.delete-button img {
  width: 40px;
  height: 30px;
}
.edit-button {
  position: absolute;
  right: 25px;
  top: -15px;
  display: none;
  cursor: pointer;
}
.edit-button img {
  width: 40px;
  height: 30px;
}
#add-new-link-page {
  display: none;
  position: absolute;
  left: 50%;
  top: 50%;

  transform: translate(-50%, -50%);
  width: 30%;
  height: 50%;
}
#add-new-link-page h3 {
  font-size: 30px;
}
#add-new-link-page p {
  font-size: 25px;
}
#add-new-link-page h3 {
  font-size: 30px;
}
#link-name-input-area,
#link-url-input-area {
  width: 300px;
  padding: 10px 10px;
  font-size: 25px;
  border: 1px grey solid;
  border-radius: 10px;
}

.button {
  background-color: black;
  color: white;
  padding: 10px 50px;
  border: black;
  border-radius: 15px;
  font-size: 20px;
  margin-bottom: 25px;
  cursor: pointer;
}

/* popup */
#popup {
  width: 500px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border: 2px solid rgb(185, 173, 173);
}

#popupHeader {
  background-color: black;
  color: white;
  padding: 10px 0px 10px 15px;
}
#popupContent {
  background-color: white;
  color: #aaaaaa;
  font-size: 20px;
  text-align: center;
  padding: 50px;
}
#popupFooter {
  background-color: white;
  text-align: center;
}
#popup-bg {
  display: none;
  width: 100vw;
  height: 110vh;
  background-color: rgba(0, 0, 0, 0.6);
  position: absolute;
  top: 0;
  left: 0;
}
#category-deleted-popup {
  position: absolute;
  left: 50%;
  top: 23%;
  transform: translate(-50%, -145%);
  display: none;
  height: 110px;
  width: 450px;
  background-color: #a4e0a6;
  border-radius: 10px;
  border: 1.5px solid #25a529;
}
#category-deleted-popup-paragraph {
  padding: 40px 100px;
  width: auto;
  height: auto;
}
#category-deleted-popup-paragraph p {
  display: inline-block;
  font-size: 30px;
  color: #18701b;
}
/* popup */

/* Dropdown */
.dropbtn {
  background-color: #4caf50;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #3e8e41;
}

/* Dropdown */
.pagination-list li {
  display: inline;
  padding: 5px;
  cursor: pointer;
}

.pagination-list li:active {
  border: 1px solid;
}
